<h1>Do you want to Authorize this?</h1>
<p>This will show you what to authorize</p>

<form name="input" action="http://address-book-app-api-gateway.herokuapp.com/callback?" method="get">
  <p>You are authorizing application APPLICATION NAME GOES HERE access to <%= @plan_id %> </p>
  <p>Will have the token: <%= @pre_token %></p>

  <input type="hidden" name="state" value="<%= @my_local_state %>">
  <input type="hidden" name="plan_id" value="<%= @plan_id %>">
<br />
  <div class="btn-group">
    <button type="submit" class="btn">Accept</button>
  </div>

</form>