<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Address Book App</h1>

    <h2>
      This is the home page for the AddressBookApp
    </h2>
    <% if signed_in? %>
    <p>
      Welcome <%= current_user.name %>!
    </p>
    <div class="span8">
      <% if current_user.contacts.any? %>
        <h3>You have <%= current_user.contacts.count %> contacts</h3>      
      <% else %>
        <p>You have no contacts, Add some? </p>
        <%= link_to "Add a new contact", controller: "contacts", action: "new" %>
      <% end %>   
    </div>
    <% else %>
     <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    <% end %>

</div>