<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Address Book App</h1>

    <h2>
      This is the home page for the AddressBookApp
    </h2>
    <% if signed_in? %>
    <p>
      Welcome <%= current_user.name %>!
    </p>
    <div class="span8">
      <% if current_user.contacts.any? %>
        <h3>Contacts (<%= current_user.contacts.count %>)</h3>
        <ol class="contacts">
          <%= render current_user.contacts %>
        </ol>
      <% end %>   
    </div>
    <% else %>
     <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
    <% end %>

</div>