<% provide(:title, 'Home') %>
<% if signed_in? %>
<div class="row">
  <div class="span8">
    <p>Welcome <%= current_user.name %>.
    <% if current_user.contacts.any? %>
      You have <%= current_user.contacts.count %> contacts
    <% else %>
      You have no contacts, Add some?
      <%= link_to "Add a new contact", controller: "contacts", action: "new" %>
    <% end %> 
    </p>
  </div>
</div>
<% else %>
  <div class="center hero-unit">
    <h1>Address Book App</h1>

    <h2>Store all your contacts!</h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>

