<% provide(:title, 'Your contacts') %>
<h1>Your contacts</h1>

<%= will_paginate %>

<ul class="contacts">
  <% current_user.contacts.each do |contact| %>
    <%= render contact %>
  <% end %>
</ul>

<%= will_paginate %>
