<% provide(:title, 'Your contacts') %>
<h1>Your contacts</h1>

<%= will_paginate %>
<div class="row">
  <div class="span6 offset3">
<ul class="contacts">
  <%= render @contacts %>
</ul>
  </div>
</div>

<%= will_paginate %>
