<footer class="footer">
  <small>
    AddressBookApp by Pili Guerra @ <a href="http://support.3scale.net/">3scale support</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.3scale.net/category/tech-blog/">Blog</a></li>
    </ul>
  </nav>
</footer>